/* @group Base */

html,
body {
	margin: 0;
	padding: 0;
	}

body {
	background-color: #E5E5E5;
	color: #444;
	font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;	
	font-size: 18px;
	font-style: normal;
	}

b, strong {
	font-weight: bold;
	}

h1 {
	font-size: 1.8125em;
	font-weight: normal;
	line-height: 1.35em;
	margin: 0 0 0.9em 0;
	}

h2 {
	font-size: 1.625em; 
	font-weight: normal;
	line-height: 1.268em;
	margin: 0.7em 0 0.3em 0;
	}

h3 {
	font-size: 1.378em;
	font-weight: normal;
	line-height: 1.18181em;
	margin: 1.22em 0 0.3em 0;
	}

h4 {
	font-size: 1.22em;
	font-weight: normal;
	line-height: 1.34em;
	margin: 0;
	}

h5, h6 {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	}

p {
	line-height: 1.2em;
	margin: 0 0 0.8em 0;
	}

img {
	max-width: 100%;
}

a:link, 
a:hover, 
a:focus, 
a:active, 
a:visited {
	color: #00ACED;
	}

a:visited {
	color: #7949AD;
	}
	
a:hover,
a:focus,
a:active {
	color: #3ED7EC;
	}

a:hover {
	cursor: pointer;
	}

a img {
	border: none;
	}

em, i, blockquote, figcaption, cite {
	font-style: italic;
	}

strong {
	font-weight: bold;
	font-style: normal;
	}

blockquote {
	font-size: 1em;
	}

blockquote p:last-child {
	margin-bottom: 0;
	}

cite {
	font-style: normal;
	font-weight: normal;
	font-size: 0.95em;
	}

ul, ol {
	margin-left: 0;
	padding-left: 0;
	}

ol {
	margin-left: 1.3em;
	}

audio {
	width: 100%;
	margin-bottom: 0.6em;
	}

article {
	position: relative;
	float: left;
	width: 100%;
	}

article, aside, figure, 
footer, header, hgroup, 
menu, nav, section { 
  display: block; 
  }
 
.title {
 	margin-bottom: 0;
 	line-height: 1.1em;
 	}

figure {
	margin: 0;
	padding: 0;
	}

code,
samp {
	font-family: Monaco, Courier, Monospace;
	font-size:0.85em;
	background-color: #f5f5f5;
	padding: 0.1em 0.3em 0.2em;
	}

pre code,
pre samp {
	white-space: pre-wrap;
	display:block;
	line-height: 1.6em;
	padding: 1em 4%;
	margin-bottom: 1em;
	}

mark {
	background-color: yellow;
	padding: 0.1em;
	}

abbr {
	border-bottom: 1px dotted #888;
	}

table {
	border-collapse: collapse;
	font-size: 0.9em;
	line-height: 1.2em;
	margin-bottom: 2em;
}

 tr {
	border: 1px solid #aaa;
	
}

th {
	background-color: #ddd;
	text-align: left;
	border: 1px solid #aaa;
	padding: 0.5em;
	font-weight: normal;
}

td {
	padding: 0.5em;
}

table code {
	font-size: 0.8em;
}

hr {
	margin-bottom: 1em;
	border: 1px solid #ddd;
	}

header {
	clear: both;
	background-color: #666;
	overflow: hidden;
	position: relative;
	color: #fff;
	border-bottom: 9px solid #444;
	}

header .entry-published {
	margin-bottom: 0.5em;
	font-size: 1em;
	float: left;
	}

/* @end */

blockquote,
.example {
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	background-color: #eee;
	margin-left: -6%;
	margin-right: -6%;
	padding: 1em 6% 0;
	}

blockquote,
.example,
figure {
	background-color: #e9e9e9;
	background-color: rgba(0, 0, 0, 0.1);
	}


.entry-content blockquote {
	background-color: #EBF7F9;
	border-color: #D9EFF3;
	}

pre code {
	white-space: pre-wrap;
	display: block;
	line-height: 1.6em;
	background-color: transparent;
	border: none;
	padding: 0;
	margin-bottom: 0;
	font-size: 0.8em;
	}

aside {
	margin-right: -6%;
	padding-left: 6%;
	}

aside {
	margin-left: -6%;
	}



aside,
blockquote,
.example,
figure,
.entry-content  {
	padding-right: 6%;
	padding-left: 6%;
	}

blockquote,
.example,
figure {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-right: 0;
	margin-left: 0;
	}

blockquote .avatar {
	width: 60px;
	margin-right: 15px;
	}

.example {
	margin-top: 1em;
	margin-bottom: 1em;
	}

.example pre {
	margin-top: 0;
	margin-bottom: 0;
	}

.example p:last-child {
	margin-bottom: 0;
	}

pre.example {
	background-color: #FFFFF2;
	border-color: #F2F2D5;
	}

.note {
	font-style: italic;
	background-color: #F5F5AF;
	padding: 0.2em 0.3em 0.1em;
}

li {
	margin-bottom: 0.8em;
	}

li li {
	margin-left: 1em;
	margin-bottom: 0;
	}

.full figure img {
	margin-left: -5.5%;
	}

figure {
	margin-bottom: 1em;
	}

figure img {
	width: 100%;
	}

figcaption {
	font-size: 0.9em;
	line-height: 1.2em;
	font-style: normal;
	margin-top: 1em;
	margin-bottom: 0;
	text-align: center;
	}

figcaption p:last-child {
	margin-bottom: 0;
}

figure.full {
	background-color: #eee;
	float: left;
	}

img.full {
	border: 2px solid #EEE;
	border-left: none;
	border-right: none;
	}

nav a:link,
nav a:visited,
nav a:hover,
nav a:focus,
nav a:active {
	text-decoration: none;
	color: inherit;
	display: block;
	}

nav ol,
nav ul {
	margin: 0;
	padding: 0;
	}

nav li {
	list-style-type: none;
	}

.generation {
	background-color: #ddd;
	color: #444;
	display: block;
	margin-left: -9%;
	padding: 0.2em 9% 0.1em;
	margin-right: -9%;
	font-size: 1.2em;
}
	
/* @group Content */
	
	.content {
		clear: both;
		position: relative;
		float: left;
		width: 100%;
		}
	
/* @end */
	
/* @group Headings */
	
	.heading {
		padding-left: 3%;
		margin-top: 0.45em;
		margin-bottom: 0.2em;
		float: left;
		}
	
	.heading-section {
		font-size: 2.5em;
		text-align: left;
		float: left;
		margin-bottom: 0.7em;
		margin-top: 0.5em;
		opacity: 0.7;
		}
	
/* @end */

/* @group Nav: Global */
	
	.nav-global  {
		position: relative;
		margin: 0;
		float: right;
		margin-right: 6%;
		margin-top: 1em;
		clear: none;
		}
	
	.nav-global .link {
		float: left;
		margin-bottom: 0;
		}
	
	.nav-global .link a:link,
	.nav-global .link a:visited,
	.nav-global .link a:hover,
	.nav-global .link a:focus,
	.nav-global .link a:active {
		padding: 0.4em 3em 0.8em 3em;
		font-size: 0.6em;
		color: #fff;
		text-decoration: none;
		}
	
/* @end */

/* @group Button */

	.button,
	.button:link,
	.button:visited,
	.button:hover,
	.button:focus,
	.button:active {
		display: block;
		clear: both;
		background-color: #4C8ACE;
		padding: 0.5em 2%;
		margin-bottom: 1em;
		float: left;
		color: #fff;
		text-decoration: none;
		font-size: 0.9em;
		}
		
	.button:hover,
	.button:focus,
	.button:active {
		background-color: #59A3F5;
		}

/* @end */

/* @group Date */

	.date {
		font-style: italic;
		opacity: 0.8;
		margin-top: 0;
		margin-bottom: 0.5em;
		font-size: 1.1em;
		}

/* @end */

/* @group Skip link */
	
	.skip {
		text-align: center;
		}
	
	.skip a:link,
	.skip a:visited,
	.skip a:hover,
	.skip a:focus,
	.skip a:active {
		text-decoration: none;
		padding: 0.5em 0.8em;
		width: 50%;
		margin: 0 auto;
		background-color: #999;
		color: #fff;
		}

/* @end */

/* @group Navigation Links */
	
	.link-section {
		background-position: center 2em;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		}
	
	.link-home {
		background-color: #444;
		}
	
/* @end */

/* @group Modules */

/* @group Post styles */

	.entry-content,
	.supplementary {
		background-color: white;
		padding: 1.5em 2.5%;
		color: #666666;
		outline: 5px solid rgba(0, 0, 0, 0.1);
		overflow: hidden; /* prevents overlapping 100% width elements */
		}
	
	.supplementary img {
		display: block;
		margin: 0 auto;
	}
	
	.supplementary aside {
		font-size: 0.85em;
		font-style: italic;
	}
	
	.supplementary table {
		margin-left: -2.5%;
		margin-right: -2.5%;
		}
	
	.entry-content img {
		max-width: 100%;
		}
	
	.entry-content h2:first-child {
		margin-top: 0;
	}
	
	.entry-content figure,
	.entry-content blockquote,
	.entry-content .example {
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		margin-left: -6%;
		margin-right: -6%;
		margin-bottom: 1em;
		}
	
	.entry-content .full {
		width: 112%;
		max-width: 112%;
		margin-left: -6%;
		margin-bottom: 0.7em;
		}
	
	.entry-content figure.full {
		width: 100%;
		}
	
	.entry-content .pull,
	.entry-content .push {
		clear: both;
		}
	
	.entry-content ul,
	.entry-content ol {
		margin-left: 1em;
		}

/* @end */

/* @group Pagination */
	
	.pagination {
		clear: both;
		background-color: #444;
		float: left;
		width: 100%;
		}
	
	.pagination a:link,
	.pagination a:visited,
	.pagination a:hover,
	.pagination a:focus,
	.pagination a:active {
		color: #fff;
		text-decoration: none;
		}
	
	.pagination .page-next,
	.pagination .page-previous {
		width: 20%;
		padding: 1em 4% 0.8em;
		font-size: 1.2em;
		}
	
	.pagination .page-next {
		float: right;
		text-align: right;
		}
	
	.pagination .page-next:after {
		content: " >";
		font-family: "courier new";
		}
	
	.pagination .page-previous {
		float: left;
		text-align: left;
		}
	
	.pagination .page-previous:before {
		content: "< ";
		font-family: "courier new";
		}
	
/* @end */

/* @group Solo */

	.solo {
		margin-bottom: 2em;
		}

/* @end */

/* @group More link (…) */

	.link-more {
		position: absolute;
		right: 0;
		font-size: 3.5em;
		padding: 0.8% 1.8% 3% 1.8%;
		background-color: transparent;
		font-family: monaco, "Courier New", arial, sans-serif;
		margin-bottom: 0;
		opacity: 0.7;
		}

/* @end */
	
	/* @group Highlight boxes */
	
	.highlight a {
		color: #fff;
		}
	
	.highlight-html,
	.highlight-css {
		padding: 0.8em 4%;
		float: left;
		width: 49%;
		font-size: 0.8em;
		text-align: center;
		}
	
	.highlight-css {
		background-color: #8eb713;
		color: #fff;
		margin-right: -9%;
		float: right;
		}
	
	.highlight-html {
		background-color: #e65858;
		color: #fff;
		margin-right: 2%;
		margin-left: -9%;
		}
	
	.highlight-html h3,
	.highlight-css h3 {
		margin-top: 0;
		}
	
	.highlight-html p,
	.highlight-css p {
		margin: 0;
		}
	
	.highlight-html strong,
	.highlight-css strong {
		font-size: 2em;
		display: block;
		margin: 0.5em 0;
		}
	
	/* @end */
	
	/* @group Device Titles */
	
	.device .title {
		margin-bottom: 0.5em;
		}
	
	/* @end */
	
	/* @group Browser Links */
	
	.browser {
		padding-left: 40px;
		position: relative;
		min-height: 35px;
		background-repeat: no-repeat;
		background-position: left top;
		clear: both;
		margin: 2em 0 0;
		padding-top: 0.35em;
		}
	
	.browser-opera {
		background-image: url("image/browser-opera-32.png");
		}
	
	.browser-webkit {
		background-image: url("image/browser-webkit-32.png");
		}
		
	.browser-ie {
		background-image: url("image/browser-ie-32.png");
		}
	
	/* @end */
	
	/* @group Console Buttons */
	
	.console-btn {
		display: inline-block;
		padding: 0.1em 0.55em 0;
		box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
		border: 1px solid #888;
		font-size: 0.8em;
		color: #888;
		}
	
	.console-btn-wii-circle {
		border-radius: 1em;
		}
	
	/* @end */
	
	/* @group Nav: Primary */
	
	.nav-primary .link {
		margin-bottom: 2em;
		float: none;
		clear: both;
		margin: 0;
		width: 94%;
		overflow: hidden;
		padding-bottom: 0;
		padding-left: 3%;
		padding-right: 3%;
		position: relative;
		}
	
	.nav-primary li {
		margin-left: 0;
		text-align: center;
		float: left;
		width: 100%;
		margin-bottom: 1em;
		}
	
	.nav-primary ol {
		clear: both;
		}
	
	.nav-primary .title {
		font-size: 1.6em;
		}
		
	.nav-primary {
		padding: 1em 0;
		float: left;
		width: 100%;
		margin-top: 1em;
		}
	
	.nav-primary ul {
		clear: both;
	}
	
	.nav-primary h2 {
		clear: both;
	}
	
	.nav-primary img {
		margin: 0 auto;
		max-height: 250px;
		max-width: 90%;
		}
	
	.nav-primary li:nth-of-type(3n+1) {
		clear: both;
		}
	
/* @end */

.nav-secondary,
.nav-tertiary {
	padding: 1em 3%;
	background-color: #888;
	clear: both;
	color: #fff;
	}

.nav-tertiary {
	background-color: #666;
	}

.nav-secondary a,
.nav-tertiary a {
	color: #fff;
	}

.nav-secondary ul,
.nav-tertiary ul {
	padding-left: 1em;
	}

.nav-primary ul {
	margin: 2em;
	overflow: hidden;
	}

.nav-primary h3,
.nav-primary h4 {
	clear: both;
	text-align: center;
	}

.nav-primary h3 {
	padding: 1em 0 0;
	font-size: 2em;
	border-top: 1px solid #ccc;
	margin: 0 0 1em;
	}

.nav-primary h4 {
	margin: 2em 0 1em;
	}
	
	/* @group Main footer */
	
	.footer-main {
		font-size: 0.85em;
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 3%;
		padding-right: 3%;
		background-color: #444;
		clear: both;
		color: #fff;
		}
	
	.footer-main p:last-child {
		margin-bottom: 0;
		}
	
	.footer-main a:link,
	.footer-main a:visited,
	.footer-main a:hover,
	.footer-main a:focus,
	.footer-main a:active {
		color: #fff;
		}
	
	.footer-main a:hover,
	.footer-main a:focus,
	.footer-main a:active {
		color: #ddd;
		}
	
	/* @end */
	
/* @end */

/* @group States */

	.entry-content:focus {
		outline: 5px solid #70A729;
		}

/* @end */

.warning {
	background-color: #ee9;
	font-size: 0.9em;
	padding: 0.8em 3% 0.5em;
	color: #333;
}

.warning p:last-child {
	margin-bottom: 0;
}

/* @group Themes */
	
	.section-home header {
		border-bottom: 9px solid #444;
		}
	
	.section-error {
			background-color: #00C3E6;
			}
		
	.section-home .entry-content {
		width: 89%;
		margin-left: 3%;
		
	}
	
	.section-home .content {
		overflow: hidden;
	}

/* @end */


@media screen and (max-width:50em) {
	
	body {
		font-size: 1em;
		}
	
	.nav-global {
		float: none;
		margin-right: 0;
		margin-top: 0;
		width: 100%;
		clear: both;
		}
	
	.nav-global .link {
		float: none;
		}

	.heading-section {
		font-size: 2em;
		}
	
	.heading {
		padding-left: 3%;
		padding-right: 3%;
		width: 94%;
		text-align: center;
		margin-bottom: 0.5em;
		}
	
}