<div class="row-fluid">

		<h2 class="page-header">Contribute</h2>

		<p>All of the devices, except the ones I've borrowed like the Wii, Xbox and PS3, live in <a href="http://clearleft.com/does/test-lab/">Clearleft's test lab</a> which is open for anyone to drop by and use. I've bought most of the consoles on this site, although a couple have been kindly donated.</p>

		<p>If you'd like to contribute, or if you already own one of these devices and you don't want it any more, please have a look at my <a href="http://www.amazon.co.uk/registry/wishlist/1QGHF0I6T29TR">wishlist of consoles and peripherals I don't yet have in the test lab</a>. <a href="http://clearleft.com/canhelp/">Post it to Clearleft</a> to form part of their test lab, and I'll run lots of tests on it and document them on this site. I look for second-hand models with all the cables. I got the PS Vita for a bargain because it had a dead pixel. The DSi was missing the box and the stylus, but it doesn't matter as long as all the buttons and screen work so I can properly test the browser in them.</p>

	</div>

<footer class="footer">
	<div class="container">
		<p><small>This content is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. <a href="https://github.com/maban/console-browsers">Please help me build upon it and make it better</a>.</small></p>
		<p><small>The EU cookie law requires me to mention that this site uses Google Analytics which uses cookies. You can still use the site with cookies disabled though.</small></p>
	</div>
</footer>
</body>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4837560-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>