<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>	
	<meta name="description" content="Anna Debenham, freelance front-end developer based in Brighton" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}/style/bootstrap.css?201210052354" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}/style/bootstrap-responsive.css?201210052354" />
	<link rel="stylesheet" type="text/css" media="print" href="{{ site.url }}/style/print.css?201210052354" />
	<link rel="icon" href="favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="icon.png"/>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="style/layout.css?201209132321" />
	<![endif]-->
</head>

<body class="section-device">