
<header class="site-header">

    <div class="wrapper">

      <nav class="nav-sections">
          <ul>
              <li class="section-home">
                  <a href="/">Game Console Browsers</a>
              </li>
              <li class='section-devices {% if page.layout == "home" %}active{% endif %}'>
                <a href="/">Devices</a>
              </li>
              <li class='section-resources {% if page.layout == "default" %}active{% endif %}'>
                <a href="/resources">Resources</a>
              </li>
          </ul>
      </nav>

    </div>

</header>
