<ul class="nav nav-list well" role="navigation">
	<li class="nav-header">TV Consoles</li>
	    <li><a href="/device/ps4">Sony PlayStation 4</a></li>
	    <li><a href="/device/xboxone">Microsoft Xbox One</a></li>
		<li><a href="/device/ouya">OUYA</a></li>
		<li><a href="/device/wiiu">Nintendo Wii U</a></li>
		<li><a href="/device/xbox360">Microsoft Xbox 360</a></li>
		<li><a href="/device/ps3">Sony PS3</a></li>
		<li><a href="/device/wii">Nintendo Wii</a></li>
	<li class="divider"></li>
	<li class="nav-header">Portable Consoles</li>
		<li><a href="/device/new3dsxl">Nintendo New 3DS XL</a></li>
		<li><a href="/device/3dsxl">Nintendo 3DS XL</a></li>
		<li><a href="/device/psvita">Sony PS Vita</a></li>
		<li><a href="/device/xperiaplay">Xperia Play</a></li>
		<li><a href="/device/3ds">Nintendo 3DS</a></li>
		<li><a href="/device/dsi">Nintendo DSi</a></li>
		<li><a href="/device/psp-3000">Sony PSP-3000</a></li>
		<li><a href="/device/psp-1000">Sony PSP-1000</a></li>
		<li><a href="/device/ds">Nintendo DS</a></li>
		<li class="inactive">Sony PSP-2000 (untested)</li>
		<li><a href="/device/psp-go">Sony PSP Go</a></li>
		<li class="inactive">Nintendo DS Lite (untested)</li>
		<li class="inactive">Nintendo DSi XL (untested)</li>
	<li class="divider"></li>
	<li class="nav-header">Smart TVs</li>
		<li><a href="/device/vizio-costar">Vizio Co-Star</a></li>
		<li><a href="/device/panasonic-viera">Panasonic Viera</a></li>
	<li class="divider"></li>
	<li class="nav-header">Waiting for testing or official release</li>
		<li class="inactive">Razer Switchblade</li>
		<li class="inactive">Razer Edge</li>
		<li class="inactive">Nvidia's Project Shield</li>
		<li class="inactive">Valve's Steam Box</li>
</ul>
