{% include head.html %}

<section role="main">

  {% include nav-primary.html %}

  {% include header.html %}

	<div class="content">

		<div class="content__section">
			<h3>HTML5 Test: {{page.score-html5}}</h3>
			<div class="bar">
				<div class="bar__fill" style="width: {{page.score-html5-percent}}%" role="progressbar" aria-valuenow="{{page.score-html5-percent}}" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<small>As of {{page.score-html5-date}}. Source: <a href="http://html5test.com">html5test.com</a></small>
		</div>

		<div class="content__section">
			<h3>CSS3 Test: {{page.score-css3}}</h3>
			<div class="bar">
				<div class="bar__fill" style="width: {{page.score-css3-percent}}%" aria-valuenow="{{page.score-css3-percent}}" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<small>As of {{page.score-css3-date}}. Source: <a href="http://css3test.com">css3test.com</a></small>
		</div>

		<div class="content__section">
			<h3>Acid 3 Test: {{page.score-acid3}}</h3>
			<div class="bar">
				<div class="bar__fill" style="width: {{page.score-acid3-percent}}%" aria-valuenow="{{page.score-acid3-percent}}" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<small>As of {{page.score-acid3-date}}. Source: <a href="http://acid3.acidtests.org/">acid3.acidtests.org</a></small>
		</div>

    {{ page.content }}

	</div>

</section>

{% include foot.html %}
