{% include head.html %}

<section role="main">

  {% include nav-primary.html %}

  {% include header.html %}

    <ul class="cards device-thumbnails unstyled">

      {% assign sorted_devices = (site.device | sort: 'released' | reverse) %}
      {% for device in sorted_devices %}
      <li class="card device--{{ device.slug }}" style="background-color: #{{device.color}}">

        <div class="card__title">
          <h2><a href="device/{{ device.slug }}">{{ device.title }}</a></h2>
          <p>{{ device.browser }}</p>
          {% if device.type %}<p class="card__label">{{ device.type }}</p>{% endif %}
          {% if device.released %}<p class="card__label card__label--alt">{{ device.released }}</p>{% endif %}
        </div>


  			<div class="card__image">
          {% if device.image %}
          <img src="device/{{ device.slug }}/{{ device.image }}" alt="Picture of the {{ device.title }} controller">
          {% endif %}
        </div>


        <div class="card__description">

      		<h3>HTML5 Test: {{device.score-html5}}</h4>
      		<div class="bar">
      		  <div class="bar__fill" style="width: {{device.score-html5-percent}}%" role="progressbar" aria-valuenow="{{device.score-html5-percent}}" aria-valuemin="0" aria-valuemax="100"></div>
      		</div>
      		<small>As of {{device.score-html5-date}}. Source: <a href="http://html5test.com">html5test.com</a></small>

      		<h3>CSS3 Test: {{device.score-css3}}</h4>
      		<div class="bar">
      		  <div class="bar__fill" style="width: {{device.score-css3-percent}}%" role="progressbar" aria-valuenow="{{device.score-css3-percent}}" aria-valuemin="0" aria-valuemax="100"></div>
      		</div>
      		<small>As of {{device.score-css3-date}}. Source: <a href="http://css3test.com">css3test.com</a></small>

      		<h3>Acid 3 Test: {{device.score-acid3}}</h4>
      		<div class="bar">
      		  <div class="bar__fill" style="width: {{device.score-acid3-percent}}%" role="progressbar" aria-valuenow="{{device.score-acid3-percent}}" aria-valuemin="0" aria-valuemax="100"></div>
      		</div>
      		<small>As of {{device.score-acid3-date}}. Source: <a href="http://acid3.acidtests.org/">acid3.acidtests.org</a></small>

        </div>


        </li>

    {% endfor %}
    </ul>



</section>

{% include foot.html %}
