{% include head.html %}

{% include nav-primary.html %}

<section class="container-fluid" role="main">

        <h1 class="page-header">{{ page.title }}</h1>

        <ul class="device-thumbnails unstyled">

        {% for page in site.pages %}

            <li class="row-fluid device-{{ page.slug }}">
            	<div class="span3 well">
            		<a href="device/{{ page.slug }}">
            			<h4>{{ page.title }}</h4>
                  {% if page.image %}
            			<p><img src="device/{{ page.slug }}/{{ page.image }}" alt="Picture of the {{ page.title }} controller"></p>
                  {% endif %}
            			<p>{{ page.browser }}</p>
            			<span class="btn">More details</span>
            		</a>
            	</div>
            	<div class="span3">
            		<h4>HTML5 Test: {{page.score-html5}}</h4>
            		<div class="progress progress-danger">
            		  <div class="bar" style="width: {{page.score-html5-percent}}%" role="progressbar" aria-valuenow="{{page.score-html5-percent}}" aria-valuemin="0" aria-valuemax="100"></div>
            		</div>
            		<p>As of {{page.score-html5-date}}. Source: <a href="http://html5test.com">html5test.com</a></p>
            	</div>

            	<div class="span3">
            		<h4>CSS3 Test: {{page.score-css3}}</h4>
            		<div class="progress progress-info">
            		  <div class="bar" style="width: {{page.score-css3-percent}}%" role="progressbar" aria-valuenow="{{page.score-css3-percent}}" aria-valuemin="0" aria-valuemax="100"></div>
            		</div>
            		<p>As of {{page.score-css3-date}}. Source: <a href="http://css3test.com">css3test.com</a></p>
            	</div>

            	<div class="span3">
            		<h4>Acid 3 Test: {{page.score-acid3}}</h4>
            		<div class="progress progress-success">
            		  <div class="bar" style="width: {{page.score-acid3-percent}}%" role="progressbar" aria-valuenow="{{page.score-acid3-percent}}" aria-valuemin="0" aria-valuemax="100"></div>
            		</div>
            		<p>As of {{page.score-acid3-date}}. Source: <a href="http://acid3.acidtests.org/">acid3.acidtests.org</a></p>
            	</div>
            </li>

        {% endfor %}
        </ul>



</section>

{% include foot.html %}
